#div1 {
  background: #111111;
  height: 1212.48px;
  margin: 100px 100px 0 100px;
  position: relative;
  text-align: center;
  max-width: 100%;
}

#image {
  border-radius: 100px;
  display: block;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
}

#img-caption {
  color: #EEEEEE;
  font-family: 'Roboto', sans-serif;
  font-size: 24px;
  max-width: 100%;
  position: relative;
  text-align: center;
  top: 100px;
}

#tribute-info {
  margin-left: 200px;
}

#tribute-link {
  font-size: 1.2em;
  text-align: right;
}

#img-div {
  margin-top: 156px;
  text-align: center;
  max-width: 100%;
}

body {
  background-color: #000000;
  color: #FFFFFF;
  font-family: 'Roboto', sans-serif;
  height: auto;
  max-width: 100%;
}

html {
  font-size: 10px;
}

h1 {
  color: #EEEEEE;
  font-size: 5.6em;
  font-weight: bold;
  position: relative;
  text-align: center;
  top: 100px;
}

h2 {
  color: #FFFFFF;
  font-size: 4.8em;
}

li {
  font-size: 3.6em;
  line-height: 1.5em;
}

p {
  font-size: 1.2em;
  text-align: right;
}